@{
    ViewBag.Title = "About";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="hero-slide-content text-center">
                    <h2 class="title-1">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center" style="padding-bottom: 80px;">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>Smart Fashion </span>
                            With Smart Devices
                        </h2>
                        <p>Welcome to Hmart, your number one source for all hi-tech things. We're dedicated to giving you the best of tehnology, with a focus on quality and safety.</p>
                        <p>Founded in 2018, Hmart has come a long way from its beginnings in USA, so that now Hmart can offer you the most technology products. We serve customers all over the world, and are thrilled that we're able to turn our passion into own website.</p>
                        <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->
<!-- Feature Area Srart -->
<div class="feature-area pt-100px pb-100px">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/Images/icons/1.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at $39 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/Images/icons/2.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/Images/icons/3.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->
