
@{
    ViewBag.Title = "EditAddress";
}

<div class="container">
    <div class="row  d-flex justify-content-center" style="margin-top: 30px;">
        <div class="col-8">
            <div>
                <h1 style="text-align: center;">Edit shipping address</h1>
            </div>
            <form>
                <div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputEmail1">Current name: <span style="color: green;">Michael</span></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="New name">
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputPassword1">Current surname: <span style="color: green;">M Hoskins</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New surname">
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputPassword1">Current city: <span style="color: green;">Seattle</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New city">
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputPassword1">Current state: <span style="color: green;">Washington(WA)</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New state">
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputPassword1">Current post zip: <span style="color: green;">98101</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New post zip">
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="exampleInputPassword1">Current country: <span style="color: green;">USA</span></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New country">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center" style="margin: 15px 0;">
                    <button type="submit" class="btn btn-primary" style="background-color: blue;">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
