
@{
    ViewBag.Title = "EmailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Thank You area start -->
<div class="thank-you-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="inner_complated">
                    <div class="img_cmpted"><img src="~/Images/icons/mail_logo.png" alt=""></div>
                    <p class="dsc_cmpted">
                        <h3>Your new password was send to your mail!</h3>
                    </p>
                    <p class="dsc_cmpted">
                        Please check your spam folder if you do not found it!
                    </p>
                    <div class="btn_cmpted">
                        <a href="@Url.Action("Index", "Home")" class="shop-btn" title="Go To Shop">Continue Shopping </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Thank You area end -->
