
@{
    ViewBag.Title = "Recover";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="hero-slide-content text-center">

                    <h2 class="title-1">Recover you password</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- recover area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">

                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    @using (Html.BeginForm("Recover", "Login", FormMethod.Post, new { autocomplete = "off" }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div>
                                            <h3 style="text-align: center; margin-bottom: 30px;">Enter your account email</h3>
                                        </div>
                                        <input type="email" name="mail" placeholder="Email" />
                                        <div class="button-box d-flex justify-content-center">
                                            <button type="submit" href="@Url.Action("Recover", "Login")"><span>Reset Password</span></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- recover area end -->
